.title {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
 

.huella :before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url(../../assets/img/huella.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
}
.bg-gris {
    --background: #efefef;
}