#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  .logo-home {
    
    width: 60vw;
      margin: auto;
    
  }
  .input {
    --background:#000;
    background: #000;
    color: #c2c2c2;
    --color: #c2c2c2;
    --highlight-background: #23aa3e;
  }