<ion-header>
  <ion-img src="../../assets/img/logo-white.png" class="logo-head"></ion-img>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fichaje de empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empleados-container" *ngIf="isSupervisor; else notSupervisor">
    <div class="list-wrap">
      <ion-card class="employee-card" *ngFor="let emp of empleados">
        <div class="card-inner">
          <div class="avatar">
            <img [src]="emp?.foto ? server + emp.foto : '../../assets/img/no-user.png'" alt="avatar">
          </div>
          <div class="info">
            <div class="name">{{emp.nombre}} {{emp.apellido}}</div>
            <div class="role">{{emp?.cargos?.nombre}}</div>
          </div>
          <div class="action">
            <ion-button class="register-btn" (click)="registrarEmpleado(emp)">REGISTRAR</ion-button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <ng-template #notSupervisor>
    <div class="not-supervisor">
      <p>No tienes permiso para ver esta sección.</p>
    </div>
  </ng-template>
</ion-content>
