.auth-container {
  padding: 20px;
  text-align: center;

  .empleado-info {
    margin-bottom: 20px;
    
    ion-avatar {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px;
      border: 2px solid #24aa3e;
    }

    h2 {
      margin: 10px 0;
      color: #333;
      font-weight: bold;
    }

    p {
      color: #666;
      margin: 5px 0;
    }
  }

  .auth-button {
    margin-top: 20px;
  }
}

.fichaje-container {
  ion-item {
    --background: none;
  }
}

.card {
  height: 60px;
  border-left: 7px #31af00 solid;
  padding: 0px;
  margin: 0px;

  ion-col {
    height: 100% !important;
  }

  p {
    padding: 2px;
    margin: 2px;
  }

  .img-build {
    background: #31af00;
    width: 46px;
    height: 46px;
    border-radius: 100%;
  }
}

.circle {
  width: 100%;
  height: 25vh;
  margin: auto;
  border-radius: 100%;
  text-align: center;

  .fichaje-button {
    width: 25vh;
    height: 25vh;
    margin: 0px;
    padding: 0px;
    --border-radius: 100%;
    --background: #646464;
    --border-width: 3px;

    ion-icon {
      font-size: 30px;
      color: #31ae01;
    }

    h1 {
      margin-top: 35px;
      color: #ffffff;
    }
  }
}

.time-display {
  font-weight: bolder;
  text-align: center;

  span {
    font-weight: normal;
  }
}